body {
    background-color: rgb(255, 246, 246);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 550px;
    height: 550px;
    border: 2px solid rgb(182, 180, 180);
    border-radius: 5px;
    background-color: white;
}